@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.toparea {
    background: #ffffff;
    padding-bottom: 8px;
}

.social {
    padding: 0;
    margin: 14px 0 0;
	text-align: center;
}

.social li a {
    display: block;
    border: 0px solid #ececec;
    text-align: center;
    line-height: 42px;
    background: #0facee;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
    background-color: #0facee;
    height: 40px;
    width: 40px;
    color: #fff  !important;
    border-radius: 50%;
    font-size: 15px;
}

.social li a:hover {
    background: #ffffff;
        color: #f5f5f5;
    border: 0px solid #020078;
    background-color: #020078;
}

.logo {
    margin-top: 0px;
    display: inline-block;
	padding-top: 5px;
}

.cs_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.top-right li a {
        text-decoration: none;
    border: 0px solid #ececec;
    display: inline-block;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .1);
    background: #2ea6f7;
    background-color: #2ea6f7;
    color: #fff;
    gap: 8px;
    line-height: 18px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 25px;
    font-family: 'Poppins', 'Source Sans Pro', sans-serif;
}

.header-extras li {
    margin-left: 0px;
    padding-left: 20px;
    border-left: 0px solid #EEE;
}

.header-extras li a {
    color: #00bde0;
    text-decoration: none;
    font-family: 'Poppins', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.header-extras li a:hover {
    color: #020078;
    text-decoration: none;
}

.header-extras li .he-text {
    float: left;
    text-transform: none;
    color: #00bde0;
    font-family: 'Poppins', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.header-extras li .he-text span {
    text-transform: none;
	font-weight: 400;
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
}

.header-extras li i {
    margin-top: 5px !important;
    font-size: 18px;
}

.i-plain {
    display: block;
    float: left;
    margin: 0px 4px 0px 0;
    text-align: center !important;
    cursor: pointer;
    font-style: normal;
}

.i-plain {
    width: 30px !important;
    height: 30px !important;
    line-height: 10px !important;
    color: #2fa6f8;
}

.top-right {
    margin: 0;
    padding: 17px 0 0;
    float: right;
}

@media screen and (min-width: 1200px) {
    .cs_nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        line-height: 1.6em;
        font-size: 17px;
        font-weight: 500;
		    padding: 17px 0 0;
		justify-content: center;
    }
}

.nav>li {
    border-right: 0px solid rgb(18, 137, 206);
}

.navbar-nav>li>a {
    color: #ffffff;
    font-family: 'Poppins', 'Source Sans Pro', sans-serif;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
    background: #ffffff00;
    color: #00bde0;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #ffffff00 !important;
	color: #00bde0;
}

.cw-100 {
    width: 100%;
}

.pb-70 {
    padding-bottom: 70px;
}

.plr-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.bs-slider {
    overflow: hidden;
    position: relative;
    border-radius: 0px;
    height: 600px;
}

.features-area {
    position: relative;
    z-index: 1;
    margin-top: -125px;
}

.single-features {
    background-color: #ffffff;
    padding: 45px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: .6s;
}

.single-features:hover {
    transform: translateY(-10px);
}

.single-features .content {
    position: relative;
    padding-left: 90px;
}

.single-features.bg-f57e57 {
    background-color: #f57e57;
}

.single-features.bg-4a6577 {
    background-color: #4a6577;
}

.single-features .content .icon {
    position: absolute;
    left: 0;
    top: -8px;
}

.single-features .content .icon i {
    font-size: 75px;
    color: #fff;
}

.single-features .content h3 {
    font-size: 20px;
    margin-bottom: 14px;
    font-weight: 600;
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
}

.single-features .content h3 a, .single-features .content p {
    color: #fff;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #6a6c72;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.overview-area {
    background-color: #f5f5f5;
    padding-top: 30px;
}

.align-items-center {
    align-items: center !important;
}

.overview-content {
    margin-top: 100px;
}

.overview-content .sub-title {
    display: inline-block;
    color: #6a6c72;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    padding: 10px 20px;
    border-radius: 50px;
}

.overview-content .sub-title i {
    color: #14e49a;
    margin-right: 5px;
    font-size: 14px;
}

.overview-content h3 {
    font-size: 45px;
    margin-top: 22px;
    margin-bottom: 15px;
    line-height: 1.4;
	font-weight: 700;
}

.overview-content p {
    font-size: 25px;
    font-weight: 500;
    color: #222;
}

p:last-child {
    margin-bottom: 0;
}

.overview-image{
	text-align:center;
	margin-top:-90px
}

.overview-img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.overview-doctores-img {
    max-width: 85%;
    height: auto;
    display: inline-block;
}

.about-content .sub-title {
    display: inline-block;
    color: #6a6c72;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    padding: 10px 20px;
    border-radius: 50px;
}

.about-content h3 {
    font-size: 36px;
    margin-top: 22px;
    margin-bottom: 15px;
    line-height: 1.4;
	font-weight: 700;
}

.about-content h3 span {
    color: #06a3da;
}

.about-content .about-list {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.about-content .about-list li {
    list-style-type: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 18px;
	font-family: 'Poppins', 'Source Sans Pro', sans-serif;
}

.about-content .sub-title i {
    color: #14e49a;
    margin-right: 5px;
    font-size: 14px;
}

.about-content .about-list li i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 26px;
    text-align: center;
    background-color: #06a3da;
    color: #fff;
    border-radius: 50px;
    font-size: 14px;
}

.about-content .about-info {
    position: relative;
    margin-top: 35px;
    padding-left: 100px;
    padding-top: 10px;
}

.about-content .about-info i {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    color: #06a3da;
    font-size: 45px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: .6s;
}

.about-content .about-info h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-content .about-info span {
    font-size: 16px;
    font-weight: 500;
    color: #6a6c72;
}

.about-image {
    text-align: right;
    position: relative;
	    padding-top: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.spacet100 {
    padding-top: 100px;
}

.servicios-h2 {
font-size: 38px;
    margin-top: 22px;
    margin-bottom: 0;
    line-height: 1.4;
}

.single-core-features {
    background-color: #fff;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: .6s;
    border-bottom: 1px solid #06a3da;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
	margin-top: 30px;
}

.single-core-features .icon {
    margin-bottom: 22px;
}

.single-core-features .icon i {
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    color: #06a3da;
    font-size: 45px;
    text-align: center;
    border-radius: 50%;
    transition: .6s;
}

.single-core-features h3 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}

.single-core-features:hover {
    transform: translateY(-10px);
}

.pb-70 {
    padding-bottom: 70px;
}

.section-title-warp {
    margin-bottom: 45px;
}

.section-title-warp .sub-title {
    display: inline-block;
    color: #6a6c72;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    padding: 10px 20px;
    border-radius: 50px;
}

.section-title-warp .sub-title i {
    color: #14e49a;
    margin-right: 5px;
    font-size: 14px;
}

.section-title-warp h2 {
    font-size: 38px;
    margin-top: 22px;
    margin-bottom: 0;
    line-height: 1.4;
}

.section-warp-btn {
    text-align: right;
}

.section-warp-btn .default-btn {
    padding: 14px 25px;
    font-size: 16px;
}

.default-btn {
    display: inline-block;
    background-color: #06a3da;
    color: #fff;
    padding: 18px 35px;
    font-size: 15px;
    font-weight: 500;
    transition: .6s;
    border-radius: 5px;
}

.default-btn:hover {
    background-color: #124390;
    color: #fff;
}

.single-doctor {
    margin-bottom: 30px;
    transition: .6s;
}

.single-doctor:hover {
    transform: translateY(-10px);
}

.single-doctor img {
    border-radius: 10px 10px 0 0;
}

.single-doctor .doctor-content {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    padding: 30px;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid #06a3da;
}

.single-doctor .doctor-content h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.single-doctor .doctor-content span {
    font-size: 16px;
    color: #6a6c72;
    font-weight: 400;
}

.single-doctor .doctor-content .share-link {
    margin-top: 15px;
}

.single-doctor .doctor-content .share-link a {
    margin: 0 2px;
}

.single-doctor .doctor-content .share-link a i {
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #06a3da;
    color: #fff;
    transition: .6s;
}

.single-doctor .doctor-content .share-link a i:hover {
    background-color: #124390;
    transform: translateY(-5px);
}

.footer-area {
    background-color: #091e3e;
}

.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget h2 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 600;
}

.single-footer-widget h2 a {
    color: #fff;
}

.single-footer-widget p {
    color: #fff;
    margin-bottom: 0;
}

.single-footer-widget .signature {
    margin-top: 25px;
}

.single-footer-widget .footer-info {
    position: relative;
    margin-top: 35px;
    padding-left: 75px;
}

.single-footer-widget .footer-info img {
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.single-footer-widget .footer-info h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

.single-footer-widget .footer-info span {
    font-size: 15px;
    color: #fff;
}

.single-footer-widget h3 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 500;
}

.single-footer-widget .quick-links {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.single-footer-widget .quick-links li {
    margin-bottom: 12px;
    font-size: 15px;
}

.single-footer-widget .quick-links li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    position: relative;
}

.single-footer-widget .footer-information li i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #06a3da;
    font-size: 38px;
}

.single-footer-widget .footer-information li span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 8px;
}

.single-footer-widget .footer-information li {
    display: inline-block;
    position: relative;
    text-align: left;
    padding-left: 55px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

.single-footer-widget .footer-widget-blog .item {
    overflow: hidden;
    margin-bottom: 25px;
}

.single-footer-widget .footer-widget-blog {
    position: relative;
    overflow: hidden;
}

.single-footer-widget .footer-widget-blog .item .thumb {
    float: left;
    height: 80px;
    overflow: hidden;
    display: block;
    position: relative;
    width: 80px;
    margin-right: 15px;
    z-index: 1;
}

.single-footer-widget .footer-widget-blog .item .thumb .fullimage.bg1 {
    background-image: url(https://vue.hibootstrap.com/zrin/img/footer-2.3b242c4b.jpg);
}

.single-footer-widget .footer-widget-blog .item .thumb .fullimage.bg2 {
    background-image: url(https://vue.hibootstrap.com/zrin/img/footer-3.aa89d3cc.jpg);
}

.single-footer-widget .footer-widget-blog .item .thumb .fullimage.bg3 {
    background-image: url(https://vue.hibootstrap.com/zrin/img/footer-4.fc490a85.jpg);
}

.single-footer-widget .footer-widget-blog .item .thumb .fullimage {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 5px;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 50%;
}

.single-footer-widget .footer-widget-blog .item .info {
    overflow: hidden;
    margin-top: 5px;
}

.single-footer-widget .footer-widget-blog .item .info span {
    display: block;
    color: #fff;
    margin-top: -5px;
    margin-bottom: 8px;
    font-size: 14px;
}

.single-footer-widget .footer-widget-blog .item .info span a {
    color: #06a3da;
}

.single-footer-widget .footer-widget-blog .item .info h4 {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
}

.single-footer-widget .footer-widget-blog .item .info h4 a {
    display: inline-block;
    transition: .6s;
    color: #fff;
}

.copyright-area {
    padding-bottom: 30px;
    background-color: #091e3e;
}

.copyright-area-content {
    text-align: center;
    border-top: 1px solid #2e405b;
    padding-top: 30px;
}

.copyright-area-content p {
    color: #fff;
    font-size: 15px;
}

.go-top.go-top {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 40px;
    right: 20px;
    background-color: #222;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    border-radius: 50%;
    font-size: 22px;
    transition: .9s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.go-top i {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.copyright-area-content p a:hover, .go-top {
    color: #fff;
}

.go-top:hover {
    background-color: #06a3da;
    color: #fff;
    transition: .6s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    transform: translateY(-5px);
}

.section-title {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 45px;
}

.section-title .sub-title {
    display: inline-block;
    color: #6a6c72;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .1);
    padding: 10px 20px;
    border-radius: 50px;
}

.section-title .sub-title i {
    color: #14e49a;
    margin-right: 5px;
    font-size: 14px;
}

.section-title h2 {
    font-size: 38px;
    margin-top: 22px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.contact-form {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.contact-info {
    text-align: center;
    margin-top: 60px;
}

.contact-info .contact-info-content h3 {
    margin-bottom: 25px;
    font-size: 25px;
    font-weight: 500;
}

.contact-info .contact-info-content h2 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
}

.contact-info .contact-info-content h2 a {
    display: inline-block;
    color: #06a3da;
}

.contact-info .contact-info-content h2 span {
    display: block;
    color: #6a6c72;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
}

.contact-info .contact-info-content h2 a:hover, .contact-info .contact-info-content h2 a:not(:first-child) {
    color: #124390;
}

.contact-info .contact-info-content .social {
    padding-left: 0;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 0;
}

.contact-info .contact-info-content .social li {
    display: inline-block;
    margin: 0 2px;
}

.contact-info .contact-info-content .social li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dadada;
    border-radius: 50%;
    color: #aba5a5;
}

.contact-info .contact-info-content .social li a i {
    font-size: 14px;
}

.contact-info .contact-info-content .social li a:hover {
    color: #fff;
    border-color: #06a3da;
    background-color: #06a3da;
}

.control-round .carousel-control {
    top: 30%;
    background: #0582b5 !important;
    -webkit-border-radius: 100px;
    border-radius: 100% !important;
}

.p-overview {
    margin-bottom: 15px !important;
    line-height: 1.6 !important;
    color: #6a6c72 !important;
    font-weight: 400 !important;
    font-family: Poppins, sans-serif !important;
    font-size: 16px !important;
}

header {
    background: #020078;
	padding-top: 0px;
}

.icon-bx-wraper.style-5 {
    display: flex
;
    align-items: center;
    gap: 14px;
}

.icon-bx-wraper {
    position: relative;
}

.icon-bx-wraper.style-5 .icon-bx {
    height: 45px;
    width: 45px;
    min-width: 45px;
    display: flex
;
    align-items: center;
    justify-content: center;
}

.icon-content {
    overflow: hidden;
}

.icon-bx-wraper.style-5 .dz-title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    margin-bottom: 0;
}

.icon-bx-wraper .dz-title {
    margin-top: 0;
}

.dz-box, .dz-info, .dz-title, .dz-title-inner {
    position: relative;
}

.icon-bx-wraper.style-5 p {
    color: #031b4e;
    font-weight: 600;
    font-size: 16px;
}

.hero-banner.style-1 {
    height: 700px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-banner {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.hero-banner.style-1 .text-vertical {
    font-weight: 700;
    font-size: 16px;
    writing-mode: tb;
    transform: rotate(-180deg) translateY(50%);
    position: absolute;
    left: 50px;
    top: 50%;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-self-center {
    align-self: center !important;
}

.hero-banner.style-1 .hero-content {
	padding-top: 100px;
}

.hero-banner.style-1 .title {
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero-banner.style-1 .text {
    font-size: 20px;
    max-width: 500px;
    font-weight: 300;
    margin-bottom: 35px;
}

.btn-icon {
    display: inline-flex
;
    align-items: center;
}

.btn-icon.btn-lg .right-icon {
    margin: -11px -18px -11px 12px;
}

.btn-icon.btn-lg .right-icon {
    height: 44px;
    width: 44px;
    min-width: 44px;
    transform: translateY(0);
}

.btn-icon .left-icon, .btn-icon .right-icon {
    height: 40px;
    width: 40px;
    min-width: 40px;
    background-color: #fff;
    border-radius: 10px;
    color: #020078;
    display: inline-flex
;
    align-items: center;
    justify-content: center;
    transform: translateY(1px);
}

.hero-banner.style-1 .hero-thumbnail {
    position: relative;
    width: 865px;
}

.hero-banner.style-1 .hero-thumbnail .thumbnail {
    position: absolute;
    bottom: 0;
    left: 20%;
    transform: translateX(-50%);
    z-index: 2;
	background-color: #ffffff00 !important;
    border: 0px solid #ddd !important;
}

.hero-banner.style-1 .circle-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    z-index: 1;
    bottom: -200px;
}

.hero-banner.style-1 .circle-wrapper .circle1 {
    background-color: #ffffff1a;
    box-shadow: 0 0 20px #0000000d;
    width: 100%;
}

.hero-banner.style-1 .circle-wrapper .circle1, .hero-banner.style-1 .circle-wrapper .circle2, .hero-banner.style-1 .circle-wrapper .circle3 {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    border: 0px solid rgba(255, 255, 255, .6);
}

.btn-icon i {
    margin-left: 7px;
    font-size: 20px;
}

.fa-light, .fat, .fa-thin {
    font-family: 'Font Awesome 6 Pro';
	speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-celeste {
    color: #fff;
    background-color: #00bde0;
    border-color: #00bde0;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 18px 25px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 10px;
}

.btn-naranja {
    color: #fff;
    background-color: #f57e58;
    border-color: #f57e58;
}

@media (max-width: 767px) {
    .top-right {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        background: #265c93;
    }
}

@media (max-width: 767px) {
    .hero-banner.style-1 .text-vertical {
        display: none;
    }
}



.h3-cards {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.icono-cards {
    width: 80px;
}

.pt-70 {
    padding-top: 70px;
}

.img-size-home {
    width: 95%;
    height: auto;
}

.site-footer.style-1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #ecf5fb;
}

.site-footer.style-1 .fh-inner {
    padding: 80px 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.icon-bx-wraper.style-1 {
    display: flex
;
    gap: 15px;
    text-align: left;
}

.icon-bx-wraper {
    position: relative;
}

.icon-bx-wraper.style-1 .icon-bx[class*=bg-] {
    color: #fff;
}

.icon-bx-wraper.style-1 .icon-bx {
    width: 60px;
    min-width: 60px;
    height: 60px;
    display: flex
;
    align-items: center;
    color: #00bde0;
    font-size: 24px;
    justify-content: center;
    background-color: #ecf5fb;
    border-radius: 50%;
}

.bg-secondary {
    --bs-bg-opacity: 1;
    background-color: rgb(3 27 78) !important;
}

.icon-bx-wraper.style-1 .dz-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.text-body {
    text-opacity: 1;
    color: rgb(86 101 147) !important;
}

footer .footer-logo {
    margin-bottom: 24px;
}

footer .footer-top .widget {
    margin-bottom: 30px;
}

.me-2 {
    margin-right: .5rem !important;
}

footer .footer-logo img {
    max-width: 180px;
}

footer .widget_about p {
    margin-bottom: 20px;
    line-height: 1.7;
    font-size: 15px;
}

footer .footer-title {
    margin: 0;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.2;
    font-size: 20px;
}

.widget_services ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    color: #5e626f;
}

.widget_services ul li {
    padding-bottom: 1.125rem;
    margin-bottom: .8125rem;
    position: relative;
    padding: .5rem 0 .5rem 0;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 1.5rem;
    font-weight: 500;
    color: var(--bs-body-color);
}

.site-footer.style-1 .footer-top {
    padding: 50px 0 0px;
}

.widget_services ul li a {
    text-transform: capitalize;
    color: #566593;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    position: relative;
    display: inline-block;
}

.copy-right {
    background: #ffffff00;
    margin-top: 30px;
    padding-bottom: 2px;
    padding: 15px 0 15px;
    color: #333;
    box-shadow: 1px 0px 3px rgba(77, 77, 77, 0.2);
}

